@page
@model RazorApplication1.Pages.BookList.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Create New Book </h2>
<br />

<div class="container">
        
    <form method="post">
        <div class="form-group">
            <label asp-for="Book.Name" for="exampleFormControlInput1"></label>
            <input asp-for="Book.Name" class="form-control col-lg-4" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <span asp-validation-for="Book.Name" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Book.Author" for="exampleFormControlInput1"></label>
            <input asp-for="Book.Author" class="form-control col-lg-4" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <span asp-validation-for="Book.Author" class="text-danger"></span>

        <div class="form-group">
            <label asp-for="Book.ISBN" for="exampleFormControlInput1"></label>
            <input asp-for="Book.ISBN" class="form-control col-lg-4" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        <div class="row">
            <button type="submit" class="btn btn-primary col-lg-2">Create</button>
            &nbsp;

            <a href="/BookList" class="btn btn-primary col-lg-2">Back To List</a>

        </div>

    </form>
            

        
</div>

@section  scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}